/* General reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('BackAdiba.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #007BFF;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0056b3;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

/* Login Terminal */
.login-terminal {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
   
}

.login-terminal h2 {
    margin-bottom: 20px;
    color: #007BFF;
}

.login-terminal label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.login-terminal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-terminal button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-terminal button:hover {
    background-color: #0056b3;
}

.login-terminal p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.login-terminal a {
    color: #007BFF;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 2px solid #007BFF;
    color: #555;
    font-size: 14px;
}
